extends _layout

block title
	title Services
	- var _name = "Services"
	- var currentPage = "Services"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Content")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns.margin-out
									.page-head
										.block-bg
											.block-bg-inner
												.block-bg-inner.js-image.bg(data-src='img/head/h9.jpg')
										.page-head-inner
											.page-head-gradient
											.page-head-content
												.bread-cont
													a(href="/").bread-item Home
												.title.h2.white Services
						.block.margin.anim-cont
							.row.gray
								.columns
									.describe
										.title.h3 Customer service 24/7
										.describe-cont.content
											.text.primary For facade contractors
											p Support in tenders providing technical data sheets and advising on optimal glass compositions, advice during the design phase, providing static/dynamic calculations assistance. Fast-track samples and mock-ups production, just in time deliveries of top quality glass products either to production facilities or to the project sites, no matter where they are located and support with all required technical and QA related documentation;
										.describe-cont.content
											.text.primary For facade consultants and designers
											p Competent and technically driven advice on different glass processing methods and materials selection possibilities, sample production and testing;competent and.
											p Technically driven advice on different glass processing methods and materials selection possibilities, sample production and testing;
										.describe-cont.content
											.text.primary For developers
											p Advice on optimal value for money and best ROI for the progressive glass/facade solutions, which would secure long term value.
										.describe-cont.content
											.text.primary For architects
											p Provision of aesthetically ambitious ideas in glass products, ensuring transparency, reflection and visual characteristics;
						.block.margin.anim-cont
							.row
								a.block-wrap(href='#')
									.block-text
										.title.h3 COST 
											br 
											|ESTIMATION
										img.js-image(data-src="img/index/index2.jpg", alt="")
										.block-text-content
											ul 
												li Strict compliance of commercial offers to project‘s specification;
												li Evaluation of required value engineering options;
												li Preparation of Prequalification Form for the projects;
												li Accurate advises on technical documentation;
												li Estimation of optimal delivery and logistics solutions to site;
											.link-arr
												.link-arr-text
													.text Show More
												.link-arr-icon
													.icon
														+icon('arr')
						.block.margin.anim-cont
							.row
								a.block-wrap(href='#')
									.block-text
										.title.h3 QUALITY 
											br
											|ASSURANCE
										img.js-image(data-src="img/index/index2.jpg", alt="")
										.block-text-content
											ul 
												li ISO 9001:2008 and ISO 14001:2004 certified;
												li Multilayer Quality Assurance System;
												li 100% quality control of raw materials;
												li Online quality control during production process;
												li Fine-tuned to specific product technological processes;
											.link-arr
												.link-arr-text
													.text Show More
												.link-arr-icon
													.icon
														+icon('arr')
						.block.margin.anim-cont
							.row
								a.block-wrap(href='#')
									.block-text
										.title.h3 QUALITY 
											br
											|ASSURANCE
										img.js-image(data-src="img/index/index2.jpg", alt="")
										.block-text-content
											ul 
												li ISO 9001:2008 and ISO 14001:2004 certified;
												li Multilayer Quality Assurance System;
												li 100% quality control of raw materials;
												li Online quality control during production process;
												li Fine-tuned to specific product technological processes;
											.link-arr
												.link-arr-text
													.text Show More
												.link-arr-icon
													.icon
														+icon('arr')
						.block.margin.anim-cont
							.row
								a.block-wrap(href='#')
									.block-text
										.title.h3 QUALITY 
											br
											|ASSURANCE
										img.js-image(data-src="img/index/index2.jpg", alt="")
										.block-text-content
											ul 
												li ISO 9001:2008 and ISO 14001:2004 certified;
												li Multilayer Quality Assurance System;
												li 100% quality control of raw materials;
												li Online quality control during production process;
												li Fine-tuned to specific product technological processes;
											.link-arr
												.link-arr-text
													.text Show More
												.link-arr-icon
													.icon
														+icon('arr')
						.block.margin.anim-cont
							.row
								a.block-wrap(href='#')
									.block-text
										.title.h3 QUALITY 
											br
											|ASSURANCE
										img.js-image(data-src="img/index/index2.jpg", alt="")
										.block-text-content
											ul 
												li ISO 9001:2008 and ISO 14001:2004 certified;
												li Multilayer Quality Assurance System;
												li 100% quality control of raw materials;
												li Online quality control during production process;
												li Fine-tuned to specific product technological processes;
											.link-arr
												.link-arr-text
													.text Show More
												.link-arr-icon
													.icon
														+icon('arr')

					include includes/_footer

					